/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/

/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  color: #f0efef;
  font-size: 26px;
  line-height: 1.4;
  color: #606161;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
}

h3 {
  color: #033048;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 40px;
}

blockquote {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  max-width: 580px;
  margin: 0 auto;
}

blockquote span {
  font-weight: 600;
  display: block;
  font-style: normal;
}

img {
  max-width: 100%;
}

/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/******************************************
/* BUTTONS
/*******************************************/

.button {
  border-radius: 5px;
  font-weight: 800;
  padding: 12px 0;
  min-width: 280px;
  font-size: 28px;
  text-align: center;
  display: inline-block;
}

.primary {
  background: #f9e42e;
  color: #033048;
}

.secondary {
  background: #033048;
  color: #fff;
  font-size: 24px;
}

/******************************************
/* HEADER
/*******************************************/

.logo {
  font-size: 48px;
  font-weight: 800;
}

header {
  background: #033048;
  padding: 25px;
  text-align: center;
}

@media(min-width: 768px) {
  header .container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}

header .logo {
  color: #fff;
}

/******************************************
/* NAV
/*******************************************/

nav ul {
  margin: 0;
  padding: 0;
}

@media(min-width: 768px) {
  nav ul {
    display: flex;
  }
}

nav li {
  font-size: 24px;
}

@media(min-width: 768px) {
  nav li {
    margin-left: 40px;
  }
}

nav li:first-child {
  margin-left: 0;
}

nav a {
  color: #f9e42e;
}

/******************************************
/* HERO
/*******************************************/

.hero {
  min-height: 700px;
  background: url(../images/header_bg.jpg) no-repeat top center #131e27;
  background-size: cover;
  padding-top: 32px;
  text-align: center;
}

.hero h2 {
  font-size: 48px;
  color: #fff;
  margin: 120px 0 90px;
  font-weight: 600;
}

/******************************************
/* BENEFITS
/*******************************************/

.benefits {
  padding: 100px 25px 80px;
}

.benefits p,
.benefits ul {
  max-width: 600px;
}

.benefits ul {
  list-style: disc;
  margin: 30px 0 0 80px;
}

/******************************************
/* TESTIMONIAL
/*******************************************/

.testimonial {
  background: url(../images/testimonial_bg.jpg) no-repeat top center #071324;
  background-size: cover;
  padding: 70px 25px;
  color: #fff;
}

/******************************************
/* MAIN
/*******************************************/

.main {
  margin-top: 80px;
  padding-left: 25px;
  padding-right: 25px;
}

@media(min-width: 768px) {
  .main .container {
    display: flex;
  }
}

.posts {
  vertical-align: top;
}

@media(min-width: 768px) {
  .posts {
    padding-right: 20px;
  }
}

.sidebar {
  vertical-align: top;
}

@media(min-width: 768px) {
  .sidebar {
    min-width: 240px;
  }
}

.post {
  border-bottom: 1px solid #043049;
  padding-bottom: 40px;
  margin-bottom: 40px;
}

.post h2 {
  font-weight: 600;
  font-size: 40px;
  line-height: 1.3;
  margin-bottom: 30px;
}

.post h2 a {
  color: #043049;
}

.post img {
  margin-bottom: 30px;
}

.post p {
  font-size: 24px;
  line-height: 1.333;
  color: #606161;
}

.post p:first-of-type:first-letter {
  float: left;
  font-size: 80px;
  line-height: 65px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
  font-weight: 600;
}

.readmore {
  text-align: right;
  margin-top: 30px;
}

.readmore a {
  color: #043049;
  font-weight: 600;
}

.sidebar h3 {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 15px;
  color: #043049;
}

.sidebar ul {
  margin-bottom: 40px;
}

.sidebar ul li a {
  color: #043049;
  font-size: 24px;
}

.sidebar p {
  font-size: 22px;
  line-height: 1.1;
  margin-bottom: 40px;
}

.sidebar p a {
  color: #043049;
  font-weight: 600;
}

/******************************************
/* BOTTOM CTA
/*******************************************/

.bottom-cta {
  background: #f9e42e;
  padding: 30px;
  text-align: center;
}

/******************************************
/* FOOTER
/*******************************************/

footer {
  background: #121212;
  padding: 65px 0 45px;
  text-align: center;
}

footer .logo {
  color: #f9e42e;
  margin-bottom: 68px;
}

footer p {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
}

.social {
  margin: 0;
  margin-bottom: 75px;
  padding: 0;
  display: inline-flex;
  list-style-type: none;
}

.social > li {
  margin-left: 26px;
  margin-right: 26px;
}
